@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ShowSpot.Models.Conteudos

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Filmes</h2>
<div id="contents" style="display:flex">
    @foreach (var filme in @ViewBag.Filmes)
    {
        <div class="card" style="max-width: 200px; margin-right: 20px">
            <h3>@filme.Nome</h3>
            <img src="@filme.ImgUrl">
            <p>@filme.Sinopse</p>
            <span>@filme.Rating</span>
        </div> 
    }
</div>

