@using Newtonsoft.Json
@model IEnumerable<ShowSpot.Models.Conteudos>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <link rel="stylesheet" href="~/css/style.css" />
    <div class="row pt-4">
        <h1 class="loginRegisterFont">Hot Movies</h1>
        <div className="filme" class="text-center">
            <div class="all_filmes d-flex justify-content-center">
                @if(ViewBag.conteudos != null){
                    @foreach (var conteudo in JsonConvert.DeserializeObject(ViewBag.conteudos))
                    {
                        <a class="filmeHref" href="/conteudos/details/@conteudo.Id">
                            <div class="filmeCard">
                                <img class="filmes" alt="filme" src="@conteudo.ImgUrl" title="@conteudo.Nome"/>
                                <div class="filme-overlay">
                                    <strong>@conteudo.Nome</strong>
                                    <span class="position-absolute bottom-0 fs-5 mb-2" style="left: 0px ; right: 0px">@conteudo.Rating </span>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <h1 class="loginRegisterFont">Recomendados</h1>
        <div className="filme" class="text-center">
            <div class="all_filmes d-flex justify-content-center">
                @if (ViewBag.Recomendados != null)
                {
                    @foreach (var conteudo in JsonConvert.DeserializeObject(ViewBag.Recomendados))
                    {
                        <a class="filmeHref" href="/conteudos/details/@conteudo.Id">
                            <div class="filmeCard">
                                <img class="filmes" alt="filme" src="@conteudo.ImgUrl" title="@conteudo.Nome"/>
                                <div class="filme-overlay">
                                    <strong>@conteudo.Nome</strong>
                                    <span class="position-absolute bottom-0 fs-5 mb-2" style="left: 0px ; right: 0px">@conteudo.Rating </span>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
